<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">朋友最食在</a>

        <ul>
            <li class="pure-menu-selected"><a href="#">建立活動</a></li>
            <% if current_user %>
              <li>

                <%= link_to("登出", destroy_user_session_path, method: :delete, class: 'login') %>
              </li>
            <% else %>
              <li>
                <a href="#" class="login">登入</a>
              </li>
            <% end %>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="title">朋友最食在</h1>
        <h2 class="splash-subhead" style="margin-top:50px;">
            共煮一份晚餐，共享一份溫馨
        </h2>
        <h2 style="margin-top:100px;">
            <a href="#" class="pure-button pure-button-primary get-started login">立即開始</a>
        </h2>
        <form class="pure-form pure-form-stacked overlay">
            <fieldset>
                <input id="email" type="email" placeholder="Email">

                <input id="password" type="password" placeholder="Password">


                <button type="submit" class="pure-button pure-button-primary">登入</button>
                
                <a href="#" class="register"> &nbsp;免費註冊</a>
            </fieldset>
        </form>
    </div>
</div>

<div class="content-wrapper">
    <div class="index-content">
        <h2 class="content-head is-center">三個特色</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 features">

                <h1 class="content-subhead three">
                    獨特
                </h1>
                <i class="fa fa-star"></i>
                <p>
                    人生有多少次能和朋友共同下廚的經驗？
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 features">
                <h1 class="content-subhead three">
                   經濟
                </h1>
                <i class="fa fa-usd"></i>
                <p>
                    食材共享，比起單獨烹煮更為實惠
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 features">
                <h1 class="content-subhead three">
                    溫馨
                </h1>
                <i class="fa fa-heart"></i>
                <p>
                    不管刮風下雨，一群人在一起，就是開心
                </p>
            </div>
            
        </div>
    </div>

    <div class="index-content four_steps" style="background-color:#2d3e50;padding-top:50px;">

        <h2 class="content-head is-center">四個步驟</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 steps">
              <div class="circle">
                <span class="helper"></span>
                <h2 class="content-subhead four">
                    建立活動
                </h2>
              </div>
                
                
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 steps">
              <div class="circle">
                <span class="helper"></span>
                <h2 class="content-subhead four">
                    提供食材
                </h2>
                </div>
                
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 steps">
              <div class="circle">
                <span class="helper"></span>
                <h2 class="content-subhead four">
                    選擇食譜
                </h2>
              </div>  
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 steps">
              <div class="circle">
                <span class="helper"></span>
                <h2 class="content-subhead four">
                    
                    吃飯囉！
                </h2>
                </div>
                
            </div>
            <div class="pure-u-1" style="text-align:center;margin:20px;">
              <h2>
                  <a href="http://purecss.io" class="pure-button pure-button-primary">立即開始</a>
              </h2>
              
            </div>
        </div>
    </div>

    
        
    

    

    <div class="footer l-box is-center">
        BETA Camp
    </div>

</div>
<script>
    $(document).ready(function(){
        $('.login').click(function(){
            if($('.overlay').hasClass('overlayShow')){
                $('.overlay').removeClass('overlayShow');
                $('.get-started').fadeIn();
            }
            else{
                $('.overlay').addClass('overlayShow');
                $('.get-started').fadeOut();
                
            }
                
        });
        
    });

</script>