<div id="layout" class="content pure-g">
  <div id="nav" class="pure-u">
    <a href="#" class="nav-menu-button">Menu</a>
    <div class="nav-inner">
      <div class="pure-menu pure-menu-open">
        <ul>
          <li><a href="#">搜尋食譜 <span class="email-count"></span></a></li>
          <li><a href="#">備忘清單</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="list" class="pure-u">
    <div class="email-item email-item-selected pure-g " id="search_block">
      <div class="pure-u-1" style="text-align:center">
        <form class="pure-form">
          <fieldset>
            <input id="search_input" type="text" placeholder="輸入食材..">
            <button class="pure-button pure-button-primary" id="search">搜尋</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div id="main" class="pure-u">
    <button class="pure-button pure-button-success" style="right:20px;position:fixed">儲存</button>
    
      <div class=" dishes">
        <div>
          <div class="">
            <h1>青醬麵XD</h1>
          </div>
          <div class="">
            <table class="pure-table pure-table-horizontal" style="width:100%">
              <thead>
                <tr>
                  <th>#</th>
                  <th>食材</th>
                  <th>提供人</th>
                  <th>我來提供</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>蔥</td>
                  <td>None</td>
                  <td><input id="" type="checkbox"></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Toyota</td>
                  <td>Camry</td>
                  <td><input id="" type="checkbox"></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Hyundai</td>
                  <td>Elantra</td>
                  <td><input id="" type="checkbox"></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Hyundai</td>
                  <td>Elantra</td>
                  <td><input id="" type="checkbox"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        
      </div>
    
  </div>
</div>

<script src="http://yui.yahooapis.com/3.17.2/build/yui/yui-min.js"></script>

<script>
    YUI().use('node-base', 'node-event-delegate', function (Y) {

        var menuButton = Y.one('.nav-menu-button'),
            nav        = Y.one('#nav');

        // Setting the active class name expands the menu vertically on small screens.
        menuButton.on('click', function (e) {
            nav.toggleClass('active');
        });

        // Your application code goes here...

    });

    $(function(){
      $('#search').click(function(e){
        var search_input = $('#search_input').val();
        e.preventDefault();
        $.ajax({
          url:"/dishes/search.json",
          type: "POST",
          data:{"file": search_input},
          success:function(result){
            console.table(result);
            var search_block = $('#search_block');
            $('#list').empty();
            $('#list').append(search_block);
            for (var i = 0; i <= result.length - 1; i++) {
              $('#list').append(
                '<div class="email-item  pure-g"><div class="pure-u"><img class="email-avatar dish-name-'+result[i]['id']+'" alt="Tilo Mitra&#x27;s avatar" height="64" width="64" src="../'+result[i]['lg_pic_link'] +'"></div><div class="pure-u-3-4"><h4 class="email-subject dish-name-'+result[i]['id']+'">'+result[i]['name']+'</h4><p class="email-desc"></p><button class="pure-button pure-button-success add-dish" data-child="'+result[i]['id']+'">加入</button></div></div>'
              );
            };
          },
          error: 
            function(){
              alert("QQ");
              // alert('error');
            }
          });
        });
      $("#list").on("click",'.add-dish',function(){
        console.log($('h4.dish-name-'+$(this).data("child")).text());
        $.ajax({
          url: "/dishes",
          type: "POST",
          data: {
                 "dish": {
                   "user_id": "<%= current_user.id %>",
                   "event_id": "<%= @event.id %>",
                   "name": $('h4.dish-name-'+$(this).data("child")).text(),
                   "lg_pic_link": $('img.dish-name-'+$(this).data("child")).text()
                 }
                },
          success: function(result){
            console.log($('h4.dish-name-'+$(this).data("child")).text());
          }
        });
      });
    });
    console.log("<%= current_user.id %>");
</script>
