/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.title {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 华文细黑, STHeiti, 微软雅黑, 'Microsoft YaHei', SimHei, sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: white;
}
.features {
  text-align: center;
}

.four_steps h2{
  color:#fff;
}
.four_steps .circle h2 {
  color:#2d3e50;
}
.features i{
  font-size: 5em;
  margin-top: 20px;
}
.pure-button-primary {
  background-color: hsla(48, 100%, 50%, 1) !important;
  color: white!important;
}
.steps {
  text-align: center;
  font-weight: 400;
}

.circle {
        width:180px;
        height:180px;
        background-color: #fff;
        color: #2d3e50 !important;
        border-radius: 100%;
        text-align: center;
        margin: auto;
      }
      .circle h2 {
        display: inline;
        vertical-align: middle;
      }

      .helper {
          display: inline-block;
          height: 100%;
          vertical-align: middle;
      }